
# Created by https://www.toptal.com/developers/gitignore/api/ansible,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=ansible,visualstudiocode

### Ansible ###
*.retry

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.toptal.com/developers/gitignore/api/ansible,visualstudiocode

ansible.cfg
# personal test playbook which should not go to source control
tests/local.yml
tests/inventory.local