- name: Check if file '{{ daemon_location }}' exists
  stat:
    path: "{{ daemon_location }}"
    checksum_algorithm: sha256
  register: stat_result
- name: Unarchive {{ download_baseurl }}/{{ cf_binary_filename }} to {{ install_target_dir }}
  unarchive:
    src: "{{ download_baseurl }}/{{ cf_binary_filename }}"
    dest: "{{ install_target_dir }}"
    remote_src: yes
  when: not stat_result.stat.exists or force_install
- name: Create {{ config_dir_tunnels }} if it does not exist
  file:
    path: "{{ config_dir_tunnels }}"
    state: directory
    # mode: '0755'
- block:
  - name: Login to cloudflare using standard way (browser window)
    command: cloudflared login
    register: login_result
    when: cert_location is not defined and cert_content is not defined
  - name: Copy `{{ cert_location }}` to {{ config_dir }}/{{ cert_name }}
    copy:
      src: "{{ cert_location }}"
      dest: "{{ config_dir }}/{{ cert_name }}"
      owner: "{{ systemd_user }}"
      group: "{{ systemd_group }}"
      mode: "0640"
    when: cert_location is defined and cert_content is not defined
  - name: Write certificate to {{ config_dir }}/{{ cert_name }}
    copy:
      content: "{{ cert_content }}"
      dest: "{{ config_dir }}/{{ cert_name }}"
      owner: "{{ systemd_user }}"
      group: "{{ systemd_group }}"
      mode: "0640"
    when: cert_content
  when: not install_only
