[Unit]
Description=cloudflared tunnel for %I
After=network.target

[Service]
Type=simple
ExecStart=cloudflared tunnel --config {{ config_dir_tunnels }}/%i.yml
User={{ systemd_user }}
Group={{ systemd_group }}

[Install]
WantedBy=multi-user.target