[Unit]
Description=cloudflared tunnel for {{ service_name }}

[Service]
Type=simple
ExecStart=cloudflared tunnel --config {{ config_dir_tunnels }}/{{ config_filename }}
User={{ systemd_user }}
Group={{ systemd_group }}

[Install]
After=NetworkManager.service